.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
oldTidyArr.py
__pycache__/TidyArr.cpython-311.pyc
TidyArr.log
TidyArr.json
source/__pycache__/__init__.cpython-311.pyc
source/__pycache__/codium_TidyArr.cpython-311-pytest-7.3.1.pyc
source/__pycache__/codium_TidyArr.cpython-311.pyc
source/__pycache__/TidyArr.cpython-311.pyc
source/__init__.py
__pycache__/codium_TidyArr.cpython-311.pyc
TidyArr.code-workspace
source/.env
TidyArr.log.*